{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "@models": "./src/models",
          "@utils": "./src/utils",
          "@middleware": "./src/middleware",
          "@repository": "./src/repository",
          "@controllers": "./src/controllers",
          "@validations": "./src/validations"
        }
      }
    ]
  ]
}
